@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,500;1,500&family=Work+Sans:wght@100&display=swap');


* {
    padding:0;
    margin:0;
   list-style: none;
   text-decoration: none;
   font-family: 'Lora', serif;
}
.menu-container {
    padding:2rem 5%;
   
}
.menu-container h1 {
   font-size: 3rem;
   font-weight: 700;
   text-align: center;
   
}
.menu-container h1 span {
      font-size: 3.5rem;
      color:#C28868;
}
.menu-box {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin:10px;
    flex-wrap: wrap;
   
}
.menu-box .box {
    border:1px solid #eee;  
    width:300px;
    cursor:pointer;
    height:230px;
}
.menu-box .box .image {
   width:100%;
   height:150px;
   overflow: hidden;

}
.menu-box .box .image img {
    width:100%;
     height:100%;
    object-fit: cover;
}
.menu-box .box:hover {
    box-shadow: 0 0 0.1rem #111;
}
.btn {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    gap:10px;
    background:#111;
    padding:10px 0;
}
.btn button {
    border:none;
    padding:5px 10px;
    cursor:pointer;
    border-radius: 5px;
}
