@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,500;1,500&family=Work+Sans:wght@100&display=swap');
* {
    padding:0;
    margin:0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Lora', serif;
}
.contact {
    padding:10px 9%;
}
.contact  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.contact  h1 span {
    color:#C28868;
    font-size: 35px;
    font-weight: 600;
}
.contact-container {
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    width:100%;

}

.contact-container .contact-right {
    width:100%;
}

.contact-container .contact-right form {
    display:flex;
    flex-direction: column;
    width:100%;
}
.contact-container .contact-right form #contact-form {
    display:flex;
    align-items: center;
    width:100%;
    border-bottom: 1px solid #eee;
    margin:10px;
}
.contact-container .contact-right form div label {
    font-size: 30px;
    padding-right: 20px;

}

input {
    border:none;
    outline:none;
    width:100%;
   
}
.btn {
    width:100%;
     display:flex;
     justify-content: center;
    
}
.btn  div {
    width:150px;
    height:40px;
}
.btn  div  button {
    width:100%;
    height:100%;
    cursor:pointer;
}
.send {
    font-size: 20px;
}
